<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-wt-adsmanager-maio"
    version="0.1.1">
    <name>AdsManagerMaio_iMo</name>
    <description>Cordova AdsManager Maio+iMobile Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,adsmanager,maio,imobile</keywords>

    <engines>
            <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <!-- <js-module src="www/AdsManager.js" name="AdsManager">
        <clobbers target="window.AdsManager" />
    </js-module> --> <!-- use separate AdsManager.js --> 

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="AdsManager">
                <param name="ios-package" value="CDVAdsManager" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVAdsManagerMaio.h" />
        <source-file src="src/ios/CDVAdsManagerMaio.m" />
        
        <framework src="src/ios/Maio.framework" custom="true"/>
        
        <framework src="src/ios/ImobileSdkAds.framework" custom="true"/>
        <framework src="AdSupport.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="CoreLocation.framework"/>
        <framework src="WebKit.framework"/>
        
        <dependency id="cordova-plugin-wkwebview-engine" />
        
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <false/>
              <key>NSExceptionDomains</key>
              <dict>
                <key>i-mobile.co.jp</key>
                <dict>
                 <key>NSIncludesSubdomains</key>
                 <true/>
                 <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                 <true/>
                </dict>
              </dict>
          </dict>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
          <string>Want to send data between user device.</string>
        </config-file>
        
    </platform>
</plugin>
